button {
  @extend %not-select;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  border: 2px solid transparent;
  border-radius: $unit0;
  min-width: 50px;
  min-height: $text-field-height;
  padding: 0;

  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;

  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;

  outline: 0;

  &:hover {
    border-color: #90a4ae;
  }
}

.input-btn {
  width: 25%;
  margin-left: 2px;
}
