button {
  @extend %not-select;
  display: inline-block;

  box-sizing: border-box;

  border: 2px solid transparent;
  min-width: 40px;
  padding: 0;

  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background: aliceblue;
  cursor: pointer;

  &:focus {
    outline: 2px solid $blue1;
  }

  &:hover {
    border-color: #90a4ae;
  }
}

.input-btn {
  width: 25%;
  margin-left: 2px;
}
