.checkbox {
  display: none;

  &:checked + label {
    background-color: $blue0;
  }

  &:disabled + label {
    background-color: $black3;
  }

  & + label {
    @extend %not-select;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $black1;
    box-sizing: border-box;
    height: 36px;
    padding: 3px;

    cursor: pointer;

    &.icon {
      width: 36px;

      > img {
        width: 28px;
        height: 28px;
      }
    }

    & ~ label {
      border-left: 0;
    }
  }
}
