.dropdown {
  position: relative;
}

.dropdown-ctrl:checked {
  ~ .dropdown-menu {
    z-index: 1024;
    visibility: visible;
    opacity: 1;
  }

  ~ .dropdown-close {
    display: block;
  }
}

.dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out, z-index 0s;
}

.dropdown-close {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
