.halidom-item {
  @extend %not-select;
  box-sizing: border-box;
  border: thin solid #eec2a2;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: minmax(80px, 20%) 24% 8% minmax(32px, 8%) 1fr minmax(
      32px,
      8%
    );
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;

  &:focus {
    outline: none;

    &::-ms-fill-lower {
      background: #bbddcc;
    }
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #bbddcc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  &::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #34495e;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }

  &::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #bbddcc;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }

  &::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-upper {
    background: #bbddcc;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
}
