header {
  background: $base0;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1100;
  width: 100%;
  height: $height-header;
  box-sizing: border-box;
  padding: 0 $gap 0 $gap * 2;

  > div {
    @extend %shadow;
    @extend %not-select;
    @extend %center;
    cursor: pointer;
    flex: 0 1 60px;
    border-radius: 5px;
    background: aliceblue;
    margin-right: $gap;
    position: relative;

    &:nth-child(3) {
      margin-left: auto;
    }

    span {
      @extend %cover;
    }
  }
}

@mixin header-hover {
  header > div:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.drawer {
  width: 200px;

  li {
    cursor: pointer;
    height: 45px;

    border-bottom: medium groove #eec2a2;
    position: relative;

    display: flex;
    align-items: center;
    padding-left: 50px;

    span {
      @extend %cover;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 50px;
    }

    &:active {
      box-shadow: 0 0 10px 5px #eec2a2;
    }

    &:hover {
      background-color: #abcdef;
    }
  }
}
