$img-size: (
  xs: 28px,
  sm: 32px,
  md: 60px,
  lg: 80px,
);

picture {
  display: block;
}

picture,
img {
  @include user-select-none;
  outline: none;

  @each $name, $size in $img-size {
    &.#{$name} {
      width: $size;
      height: $size;
    }
  }
}

button.image-button {
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: 0;
  outline: none;

  img {
    cursor: pointer;
  }
}
