img,
input[type='image'] {
  @extend %not-select;

  &.xs {
    width: $img-xs;
    height: $img-xs;
  }

  &.sm {
    width: $img-sm;
    height: $img-sm;
  }

  &.md {
    width: $img-md;
    height: $img-md;
  }

  &.lg {
    width: $img-lg;
    height: $img-lg;
  }
}

input[type='image'] {
  @extend %shadow;

  &.lg {
    outline: none;
  }

  &:active {
    box-shadow: none;
  }
}

@mixin input-image-hover {
  .scale {
    transform: scale(1.1);
  }

  input[type='image'] {
    &.md {
      outline-color: $blue0;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
