img,
input[type='image'] {
  @extend %not-select;

  @each $name, $size in $img-size {
    &.#{$name} {
      width: $size;
      height: $size;
    }
  }
}

input[type='image'] {
  cursor: pointer;

  &.md:hover {
    transform: scale(1.1);
  }

  &:active,
  &:focus {
    outline: none;
  }
}
