.radio-btns {
  @extend .auto-fit;

  input[type='radio'] {
    display: none;

    &:checked + label {
      background-color: $blue0;
      border-color: $blue1;
    }
  }

  label {
    @extend %not-select;
    @extend %center;
    cursor: pointer;
    height: 36px;
    background-color: $base4;
    border: medium solid $black2;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
