%shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

%not-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

%ellipsis {
  min-width: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%transition-collapse {
  height: auto;
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.3s ease-in;
  &.collapse {
    max-height: 0;
    transition: max-height 0.3s;
    // transition: max-height 0.3s cubic-bezier(0, 0, 0.2, 1);
  }
}
