$gap: 8px;
$img-xs: 24px;
$img-sm: 32px;
$img-md: 64px;
$img-lg: 80px;
$height-header: 40px;
$margin-content: $height-header + $gap;
$height-page: calc(100vh - #{$margin-content});

$width-input: 96px;
// $width-inputs-2: 200px;
$width-inputs-2: $width-input * 2 + $gap;
// $width-inputs-4: 408px;
$width-inputs-4: $width-input * 4 + $gap * 3;
$margin-cols-1: $gap * 4;
$margin-cols-3: $gap * 6;

$height-input: 56px;
$height-inputs-2: $height-input * 2 + $gap * 3;
$height-inputs-3: $height-input * 3 + $gap * 4;

// $sm: 440px
$sm: $width-inputs-4 + $margin-cols-1;
// $md: 912px;
$md: ($img-lg + $width-inputs-2 + $gap) * 3 + $margin-cols-3;
// $lg: 1280px
$lg: ($width-input * 4 + $gap * 3) * 3 + $gap * 6;

:export {
  md: #{$md};
  offset: #{$margin-content};
}
