// div#col3 {
//   height: $height-page;
//   display: grid;
//   grid-template-rows: auto auto 1fr;
//   grid-row-gap: $gap;

//   > div:last-child {
//     overflow-y: auto;
//   }
// }

// #filter-stats {
//   @include grid-columns(2, 1fr);

//   > div:nth-last-child(2) {
//     grid-area: 3/1/4/2;
//   }

//   > button {
//     grid-area: 3/2/4/3;
//   }
// }

// @mixin filter-stats-inline {
//   #filter-stats {
//     grid-template-columns: repeat(4, 1fr);

//     > div:nth-last-child(2) {
//       grid-area: 2/1/3/4;
//     }

//     > button {
//       grid-area: 2/4/3/5;
//     }
//   }
// }

#col3 {
  height: $height-page;
  display: flex;
  flex-direction: column;
  > div {
    &:last-child {
      flex: 1;
    }
    & + div {
      margin-top: $gap;
    }
  }
}

#search-bar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: $gap;
}

// @mixin search-bar-md {
//   #search-bar {
//     display: grid;
//     grid-template-columns: 3fr 1fr;
//     grid-gap: $gap;
//   }
// }

.item-list {
  display: grid;
  grid-template-columns: minmax(64px, 25%) minmax(30%, 1fr) repeat(
      auto-fit,
      minmax(min-content, 15%)
    );
  justify-items: center;
  align-items: center;
}
