div#col1 {
  display: flex;
  flex-direction: column;

  > div {
    &:first-child {
      @extend %not-select;
    }

    & + div {
      margin-top: $gap;

      &.animated-collapse.collapse {
        margin-top: 0;
        transition: margin-top 0.2s;
      }
    }
  }

  &:last-child {
    > div + div {
      margin-top: $gap;
    }
  }
}

#stats-table {
  > div {
    display: grid;
    grid-template-columns: 1fr repeat(3, 23%);
    justify-items: center;

    &.header,
    &.footer {
      border-top: medium solid $blue0;
      border-bottom: medium solid $blue0;
    }

    &.body {
      @extend %transition-collapse;
    }

    &.footer.collapse {
      border-top: none;
    }

    > span {
      padding: 4px 0;
    }
  }
}

#damage-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  height: 56px;
  color: white;
  font-weight: bold;
}

table {
  width: 100%;
  table-layout: fixed;

  td {
    text-align: center;
  }
}
