@mixin stats-laptop {
  main#stats {
    @include grid(3);
  }
}

#stats-table {
  box-sizing: border-box;
  line-height: 24px;
  > div {
    display: grid;
    grid-template-columns: 40% repeat(3, 20%);
    justify-items: center;

    &#header,
    &#footer {
      border-top: medium solid $blue0;
      border-bottom: medium solid $blue0;
    }

    &#footer:not(.expend) {
      border-top: none;
    }

    &#body {
      overflow: hidden;
      max-height: 0;
      transition: 0.25s ease-out;

      &.expend {
        max-height: 300px;
        transition: 0.25s ease-in;
      }
    }

    > span {
      padding: $unit0 0;
    }
  }
}

#damage-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: $unit0;
  height: 56px;
  color: white;
  font-weight: bold;
}

#stats-col2 {
  line-height: 24px;
}

.avatar-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: $unit1;
  justify-items: center;

  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  button {
    height: 30px;
  }
}

.avatar {
  position: relative;
  input[type='image'] {
    width: 100%;
  }

  span {
    position: absolute;
    bottom: 15%;
    right: 10%;
    color: #fdd12c;
    font-weight: 600;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
}

#stats-col3 {
  display: flex;
  flex-direction: column;
  height: $page-height;
}

.options {
  height: 124px;
  > div + div {
    margin-top: $unit1;
  }
}

.item {
  @include grid('minmax(64px, 20%) 1fr repeat(3, 40px)');
  align-items: center;
  justify-items: center;
}

.halidom-item {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  border-bottom: 2px solid $blue0;
}
