@mixin stats-laptop {
  main#stats {
    @include grid(3);
  }
}

.avatar-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 8px;
  justify-items: center;

  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  [type='image'] {
    width: calc(100% - 4px);
  }

  button {
    margin-top: 8px;
    height: 30px;
  }
}

#stats-col3 {
  display: flex;
  flex-direction: column;
  height: $page-height;
}

.options {
  > div + div {
    margin-top: $unit1;
  }
}

.item {
  @include grid('minmax(64px, 20%) 1fr repeat(3, 40px)');
  align-items: center;
  justify-items: center;
}

.halidom-item {
  display: grid;
  grid-template-columns: 80px 80px 1fr;
  align-items: center;
  border-bottom: 2px solid $blue0;
}
