body {
  margin: 0;
  padding: 0;

  background: $base0;

  font-family: 'Roboto', sans-serif;
  color: $black0;
}

main {
  box-sizing: border-box;
  margin-top: $main-margin-top;
  padding: 0 1rem;

  > div {
    > div + div {
      margin-top: $unit1;
    }
  }
}

.flex {
  display: flex;
}
