@use './variables';
@use 'sass:selector';

$unit: variables.$unit;
$header-height: 50px;

html {
  box-sizing: border-box;
  padding-right: $unit * 2;
  padding-left: $unit * 2;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body,
#app {
  height: 100%;
}

header {
  height: $header-height;
}

main {
  height: calc(100% - #{$header-height});
}

img {
  display: block;
  max-width: 100%;
  user-select: none;
}

label {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.flex-v-center {
  display: flex;
  align-items: center;
}

.flex-h-between {
  display: flex;
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.overflow-auto {
  overflow-y: auto;
}

.text-center {
  text-align: center;
}

.relative-outer {
  position: relative;
  display: block;
}

@mixin prepend($prefix) {
  @at-root #{$prefix}#{&} {
    @content;
  }
}

::before {
  @include prepend('.relative-outer') {
    display: block;
    width: 100%;
    content: '';
  }

  @include prepend('.weapon-series-image') {
    padding-top: (66 / 281) * 100%;
  }

  @include prepend('.square-box') {
    padding-top: 100%;
  }
}

.absolute-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon-l {
  width: $unit * 10;
  height: $unit * 10;
}

.icon-m {
  width: $unit * 8;
  height: $unit * 8;
}

.icon-s {
  width: $unit * 4;
  height: $unit * 4;
}
