@mixin grid($n) {
  display: grid;
  grid-gap: $unit1;
  grid-template-columns: if(
    type-of($n) == number,
    repeat($n, minmax(0, 1fr)),
    #{$n}
  );
}

@mixin rotate($deg) {
  // IE 9
  -ms-transform: rotate($deg);
  // Safari and Chrome
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}

%not-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

  -moz-user-select: none;
  -webkit-user-drag: none;
}
