$danger: #591804;

$blue0: #adc5ee;
$blue1: #7095d5;

$base0: #eed6ad;
$base1: #f1ddba;
$base2: #f5e3c8;
$base3: #f8ead6;
$base4: #faf1e3;

$black0: #1a2a3a;
$black1: #2a3a4a;
$black2: #3a4a5a;
$black3: #4a5a6a;
$disabled: #ccc;

$unit0: 4px;
$unit1: $unit0 * 2; // 8px
$unit2: $unit1 * 2; // 16px

$header-height: 40px;
$text-field-height: 36px;

$main-margin-top: $header-height + $unit1;
$page-height: calc(100vh - #{$main-margin-top});

$mobile: 425px;
$laptop: 1024px;
