/* div.unbind.set img {
  height: 24px;
  margin-left: 10em;
  float: left;
} */


/* table.ui.celled.table th, table.ui.celled.table td {
  text-align: center;
}

table.ui.celled.table tbody td img, table.ui.celled.table button.ui.button {
  display: block;
  margin: auto;
} */

table img.weapon-img {
  width: 60px;
}

table img.weapon-img, table button.ui.button{
  display: block;
  margin: auto;
}

div.unbind.set img {
  height: 24px;
  margin-left: 1em;
}

table.ui.celled.table th, table.ui.celled.table td {
  text-align: center;
}