.details-container {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px 0 16px;
}

.collapse-title {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 16px;
}

.collapse-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap
}

.details-row, .details-total {
  width: 100%;
  display: flex;
  border-bottom: medium solid #EEE;
}

.details-total {
  font-weight: bold;
}

.f-col {
  width: 37%;
  box-sizing: border-box;
  height: 56px;
  display: flex;
  align-items: center;
}

.r-col {
  width: 21%;
  height: 56px;
  box-sizing: border-box;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.details-header {
  align-items: flex-end;
  padding-bottom: 16px;
}

.damage-setting {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 8px;
}

.dungeon-details-col {
  width: 33.33%;
  box-sizing: border-box;
  padding: 16px 0 16px 0;
  text-align: left;
}

.dungeon-details-col:last-child {
  text-align: center;
}

@media screen and (min-width: 960px) {
  .details-table {
    padding: 0 0 0 16px;
  }
}