body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #1a2a3a;
  line-height: 24px;
  background-color: #eed6ad;
}

#root {
  padding: 0 16px 0 16px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex: initial;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fluid {
  width: 100%;
}

.gutter {
  margin: 8px 0 8px 0;
}

.gutter-top {
  margin-top: 8px;
}

.highlight {
  box-sizing: border-box;
  border-bottom: medium solid #eec2a2;
}

.ellipsis {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table,
tbody {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr {
  width: 100%;
  height: 50px;
}

th,
td {
  vertical-align: middle;
  text-align: center;
}

#stats-detail tr:nth-child(1),
#stats-detail tr:last-child {
  border-bottom: medium solid #eec2a2;
}
#stats-detail tr:last-child {
  border-top: medium solid #eec2a2;
}

#stats-detail th,
#stats-detail td {
  width: 25%;
}

#damage-detail th,
#damage-detail td {
  width: 33.33%;
}

img.sm {
  width: 32px;
  height: 32px;
}

img.md {
  width: 64px;
  height: 64px;
}

img.lg {
  width: 80px;
  height: 80px;
}

button.active,
div.active {
  background-color: #abcdef !important;
}

.stats-field {
  height: 120px;
}

.avatar {
  min-width: 80px;
  width: 30%;
  height: 100%;
  flex-direction: column;
}

.avatar > img {
  cursor: pointer;
}

.caption {
  width: 100%;
  text-align: center;
}

.stats-field-setting {
  flex: 1;
  display: flex;
  align-items: center;
}

#stats-list,
#halidom-list {
  flex: 1;
}

#halidom-list {
  overflow: auto;
}

#stats-list .list-item img {
  cursor: pointer;
}

.list-header {
  height: 50px;
  width: 100%;
}

[class^='list-item-'],
[class^='facility-'] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-item-image {
  min-width: 64px;
  width: 25%;
}

.list-item-name {
  flex: 1 0 25%;
  justify-content: flex-start;
}

.list-item-icon {
  width: 15%;
}

.list-item-res {
  width: 15%;
  justify-content: flex-start;
}

.set-btns > button,
.set-btns > div {
  background-color: #f5e8cb;
}

.facility-image {
  width: 25%;
}

.facility-name {
  width: 50%;
  justify-content: flex-start;
}

.facility-slider {
  width: 50%;
  padding: 2%;
  box-sizing: border-box;
}
.facility-icon {
  width: 25%;
}

.drawer {
  width: 200px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.drawer li {
  height: 46px;
  display: flex;
  align-items: center;
  padding-left: 50px;
  border-bottom: medium groove #eec2a2;
  cursor: pointer;
}

.drawer li:active {
  box-shadow: 0 0 10px 5px #eec2a2;
}

.drawer li:hover {
  background-color: #abcdef;
}

.col-2 {
  width: calc((100% - 8px) / 2);
}

.col-2:nth-child(2n) {
  margin-left: 8px;
}

.col-2:nth-child(n + 3) {
  margin-top: 8px;
}

@media (min-width: 520px) and (max-width: 959px), (min-width: 1280px) {
  .col-4 {
    width: calc((100% - 8px * 3) / 4);
  }
  .col-4:nth-child(n + 2) {
    margin-left: 8px;
  }
  .col-4:nth-child(n + 3) {
    margin-top: 0;
  }
  .col-4:nth-child(n + 5) {
    margin-top: 8px;
  }
  #stats-list .list-item:hover {
    background-color: #abcdef;
  }
  .facility-image {
    min-width: 80px;
    width: 20%;
  }
  .facility-name {
    width: 24%;
  }
  .facility-slider {
    width: 32%;
  }
  .facility-icon {
    width: 8%;
  }
}

@media (max-width: 959px) {
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .column:nth-child(2) {
    width: calc(100% + 16px);
    margin: 8px 0 8px -16px;
  }
  .column:nth-child(3) {
    height: 100vh;
  }
}

@media (max-width: 959px) {
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .column:nth-child(2) {
    width: calc(100% + 16px);
    margin: 8px 0 8px -16px;
  }
  .column:nth-child(3) {
    height: 100vh;
  }
}

@media (min-width: 960px) {
  .column {
    width: calc((100% - 8px * 2) / 3);
    margin-right: 8px;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .column:nth-child(3n) {
    margin-right: 0;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #bbddcc;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #34495e;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #cce6d9;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #bbddcc;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #34495e;
  cursor: pointer;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  background: #aad4bf;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-fill-upper {
  background: #bbddcc;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type='range']::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #34495e;
  cursor: pointer;
  height: 8.4px;
}
input[type='range']:focus::-ms-fill-lower {
  background: #bbddcc;
}
input[type='range']:focus::-ms-fill-upper {
  background: #cce6d9;
}
