@media only screen and (max-width: 600px) {
  .top {
    top: 56px;
  }
}

@media only screen and (min-width: 601px) {
  .top {
    top: 64px;
  }
}

@media only screen and (min-width: 960px) {
  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 64px;
  }
}

.filters {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1100;
  background-color: #f5e8cb;
}

body {
  background-color: #f5e8cb;
}

.flex {
  display: flex;
  align-items: center;
}

.fluid {
  width: 100%;
}

.content {
  margin-top: 65px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
}

.list-img {
  flex: 0 1 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-name {
  flex: 1 1 100px;
}

.list-rest {
  flex: 0 1 80px;
  display: flex;
  justify-content: center;
}

.lg {
  width: 80px;
}

.md {
  width: 60px;
}

.sm {
  width: 32px;
  height: 32px;
}

.MuiPaper-root-10 {
  background-color: #ffedc3;
}