body {
  margin: 0;
  background-image: linear-gradient(to right, #F5E8CB, #96DEDA);
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.fluid {
  width: 100%;
}

.content {
  margin-top: 56px;
}

.column {
  width: 100%;
}

.button {
  height: 56px;
}

.filters {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px 0 16px;
  display: flex;
  flex-wrap: wrap;
}

.filter-select {
  width: calc((100% - 8px * (2-1))/(2-1));
  margin-right: 8px;
}

.filter-select:nth-child(2), .filter-select:last-child {
  margin-right: 0px;
}

.filter-select:nth-child(3), .filter-select:nth-child(4) {
  margin-top: 8px
}

/* width < 600px */

@media screen and (min-width:599px) {
  .content {
    margin-top: 64px;
  }
}

/* width >= 960px */

@media screen and (min-width: 960px) {
  .filters {
    padding: 0px;
  }
  .column {
    width: calc((100% - 8px * (3-1))/(3-1));
    margin-right: 8px;
  }
}

@media screen and (min-width:1280px) {
  .filter-select {
    width: calc((100% - 8px * (4-1))/(4-1));
  }
  .filter-select:nth-child(2) {
    margin-right: 8px;
  }
  .filter-select:last-child {
    margin-right: 0;
  }
  .filter-select:nth-child(3), .filter-select:last-child {
    margin-top: 0;
  }
}

/*
[class*='col-'] {

}
*/

.flex {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-list {
  height: 60px;
  border-bottom: 2px solid #EEE;
}

.list-item, .list-header, .halidom-overview {
  width: 100%;
  box-sizing: border-box;
  border-bottom: medium solid #EEE;
  cursor: default;
}

.list-item:hover {
  background-color: #F5E8CB;
  cursor: cell;
}

.list-header {
  height: 50px;
  border-top: medium solid #EEE;
}

.stats-list-image {
  min-width: 60px;
  width: 25%;
}

.stats-list-name {
  flex: 3 0 25%;
}

.text {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stats-list-icon {
  width: 15%;
}

.halidom-overview {
  height: 60px;
}

.halidom-field {
  width: 100%;
  height: 60vh;
  overflow: auto;
}

.lg {
  width: 80px;
  cursor: pointer;
}

.md {
  width: 60px;
}

.sm {
  width: 32px;
  height: 32px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}