body, table.ui.celled.table {
  background-color: #fff8e7;
}

img {
  display: block;
  margin: auto;
}

img.status-avatar {
  width: 100%;
  max-width: 80px;
}

img.selection-avatar {
  width: 64px;
}

img.selection-icon, img.halidom-icon {
  width: 32px;
}

img.halidom-icon {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

table.ui.celled.table th, table.ui.celled.table td {
  text-align: center;
}

table td#table-left-align {
  text-align: left;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* div.field {max-width: 2 em !important;} */

/* div.field select, div.field input, .ui.form input[type="number"] {padding-left: .2em !important;} */

/* img.unbind-set {height: 15px !important;} */