body {
  margin: 0;
  background-image: linear-gradient(to right, #F5E8CB, #96DEDA);
}

.fluid {
  width: 100%;
}

.content {
  margin-top: 65px;
}

.column {
  width: 100%;
}

.column:last-child {
  height: calc(100vh - 230px);
}

.filter-select {
  float: left;
  width: calc((100% - 8px * (2-1))/(2-1));
  margin-right: 8px;
}

.button {
  height: 56px;
}

/* width < 600px */

@media screen and (max-width:599px) {
  .content {
    margin-top: 56px;
  }
}

/* width <= 959px */

@media screen and (max-width: 959px) {
  .filters {
    padding: 16px;
  }
  .filter-select:nth-child(2) {
    margin-right: 0px;
  }
  .filter-select:nth-child(3) {
    margin-top: 8px;
  }
  .filter-select:nth-child(4) {
    margin-top: 8px;
  }
}

/* width >= 960px */

@media screen and (min-width: 960px) {
  .column {
    float: left;
    width: calc((100% - 8px * (3-1))/(3-1));
    margin-right: 8px;
  }
  .column:last-child {
    margin-right: 0%;
  }
}

@media screen and (min-width:1280px) {
  .filter-select {
    /* float: left; */
    width: calc((100% - 8px * (4-1))/(4-1));
    margin-right: 8px;
  }
  .filter-select:nth-child(2) {
    margin-right: 8px;
  }
}

/*
[class*='col-'] {

}
*/

.flex {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-list {
  height: 60px;
  border-bottom: 2px solid #EEE;
}

.list-item, .list-header {
  width: 100%;
  box-sizing: border-box;
  border-bottom: medium solid #EEE;
}

.list-header {
  height: 50px;
  border-top: medium solid #EEE;
}

.stats-list-image {
  min-width: 60px;
  width: 25%;
}

.stats-list-name {
  flex: 3 0 25%;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stats-list-icon {
  width: 15%;
}

.halidom-list {
  /* height: 90px; */
  border: 1px solid #eee;
}

.halidom-overview {
  height: 60px;
  border: 1px solid #eee;
}

.lg {
  width: 80px;
}

.md {
  width: 60px;
}

.sm {
  width: 32px;
  height: 32px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}