/* div#left-panel {
  height: 100%;
  margin: 0px;
  background-color: blanchedalmond
} */

img.avatar {
  width: 90px;
  display: block;
  margin: auto;
}

button#reset-btn {
  margin-top: 7px;
}

img.selection-img {
  width: 64px;
  display: block;
  margin: auto;
}

div.unbind-set {
  text-align: center;
}

img.unbind-set {
  height: 30px;
  margin-right: 10px;
}

table.ui.celled.table th, table.ui.celled.table td {
  text-align: center;
}

table td#table-left-align {
  text-align: left;
}
/*
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */