input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 15.3px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3020a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #0f0000, 0px 0px 1px #290000;
  border: 1px solid #000000;
  height: 39px;
  width: 16px;
  border-radius: 3px;
  background: #89ff98;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3624be;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3020a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #0f0000, 0px 0px 1px #290000;
  border: 1px solid #000000;
  height: 39px;
  width: 16px;
  border-radius: 3px;
  background: #89ff98;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a1c94;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3020a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #0f0000, 0px 0px 1px #290000;
  border: 1px solid #000000;
  height: 39px;
  width: 16px;
  border-radius: 3px;
  background: #89ff98;
  cursor: pointer;
  height: 8.4px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3020a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #3624be;
}